/* Add this to your global CSS file */
.placeholder-center::placeholder {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }


.source-sans-3-placeholder {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
  