.welcome-banner {
  padding-top: 10rem !important;
  padding: 20px;
  font-size: 3.5rem;
  color: transparent;
  background-image: linear-gradient(
    to bottom right,
    #4f46e5,
    #9048ff,
    #ff477e,
    #ff7e00,
    #ffbd00
  );
  -webkit-background-clip: text;
  background-clip: text;
}

.paragraph-below-banner {
  padding: 20px;
  font-size: 3.5rem;
  color: transparent;
  color: rgba(154, 151, 151, 0.863);
  -webkit-background-clip: text;
  background-clip: text;
}

@media screen and (max-width: 768px) {
  .welcome-banner {
    font-size: 2.5rem;
  }

  .paragraph-below-banner {
    font-size: 2.5rem;
  }
}
